---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
<div class="footer-links" style="margin-top: 20px;">

  <a href="https://scholar.google.com/citations?user=niKf5cAAAAAJ&hl=en" 
     target="_blank" 
     style="margin-right: 15px; text-decoration: none;">
     Google Scholar
  </a>

  <a href="https://orcid.org/0000-0003-4586-9896" 
     target="_blank" 
     style="text-decoration: none;">
     ORCID
  </a>

</div>
